# Khai bao thư viện cân thiết

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.stattools import adfuller, kpss

# Nhập dữ liệu và định dạng

In [2]:
def load_prepare_data(file_path):
    with open(file_path, 'r', encoding='utf-8') as f:
        first_line = f.readline()
        
    # Kiểm tra dấu phân tách trong dòng đầu tiên
    if ';' in first_line:
        sep = ';'  # Nếu dòng đầu tiên có dấu chấm phẩy, sử dụng dấu chấm phẩy làm phân tách
    else:
        sep = ','  # Nếu không, sử dụng dấu phẩy mặc định
    
    # Đọc file CSV với sep được xác định
    df = pd.read_csv(file_path, sep=sep)

    # In danh sách các cột để kiểm tra
    print(f"Processing file: {file_path}")
    print("Columns:", df.columns.tolist())
    
    # Xử lý cột 'Price', 'Open', 'High', 'Low' nếu có dấu ngoặc kép và chuyển thành float
    for col in ['Price', 'Open', 'High', 'Low']:
        if col in df.columns:
            # Loại bỏ dấu ngoặc kép và chuyển sang kiểu float
            df[col] = df[col].replace({'"': '', ',': ''}, regex=True)
            df[col] = pd.to_numeric(df[col], errors='coerce')

    # Kiểm tra nếu có cột 'Date'
    if 'Date' in df.columns:
        try:
            # Chuyển đổi cột 'Date' về kiểu datetime và đặt làm chỉ mục
            df['Date'] = pd.to_datetime(df['Date'], format='%m/%d/%Y', errors='coerce').dt.date
           
        except Exception as e:
            print(f"Error converting 'Date' in {file_path}: {e}")

    # Kiểm tra nếu có các cột thời gian của crypto
    elif {'timeOpen', 'timeClose', 'timeHigh', 'timeLow'}.issubset(df.columns):
        try:
            # Chuyển đổi tất cả các cột thời gian về kiểu datetime và chỉ giữ ngày
            for time_col in ['timeOpen', 'timeClose', 'timeHigh', 'timeLow']:
                if time_col in df.columns:
                    df[time_col] = pd.to_datetime(df[time_col], errors='coerce').dt.date
            
            # Đặt 'timeClose' làm chỉ mục và bỏ các cột thời gian khác
            
            # Loại bỏ các cột thời gian không phải 'timeClose'
            time_columns_to_drop = ['timeOpen', 'timeHigh', 'timeLow']
            df.drop(columns=[col for col in time_columns_to_drop if col in df.columns], inplace=True)
            
            
        except Exception as e:
            print(f"Error converting time columns in {file_path}: {e}")
    
    else:
        print(f"No recognized date/time columns in {file_path}")
    
    return df

In [3]:
# List 11 bộ dữ liệu 

Bitcoin = load_prepare_data(r'Data\Bitcoin_5_14_2010-7_13_2010_historical_data_coinmarketcap.csv')
SP500 = load_prepare_data(r'Data\S&P 500 Historical Data.csv')
Gold = load_prepare_data(r'Data\XAU_USD Historical Data (1).csv')
Silver = load_prepare_data(r'Data\XAG_USD Historical Data.csv')
Tbond = load_prepare_data(r'Data\United States 10-Year Bond Yield Historical Data.csv')
IMUS = load_prepare_data(r'Data\Dow Jones Islamic Market US Historical Data.csv')
WTI = load_prepare_data(r'Data\WTI_USD Historical Data.csv')
Dollar = load_prepare_data(r"Data\US Dollar Index Historical Data.csv")
Franc = load_prepare_data(r'Data\CHF_USD Historical Data.csv')
Ethereum = load_prepare_data(r'Data\Ethereum_6_10_2015-8_9_2015_historical_data_coinmarketcap.csv')
Tether = load_prepare_data(r'Data\Tether USDt_2_12_2015-4_11_2015_historical_data_coinmarketcap.csv')

Processing file: Data\Bitcoin_5_14_2010-7_13_2010_historical_data_coinmarketcap.csv
Columns: ['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'name', 'open', 'high', 'low', 'close', 'volume', 'marketCap', 'timestamp']
Processing file: Data\S&P 500 Historical Data.csv
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
Processing file: Data\XAU_USD Historical Data (1).csv
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
Processing file: Data\XAG_USD Historical Data.csv
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
Processing file: Data\United States 10-Year Bond Yield Historical Data.csv
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Change %']
Processing file: Data\Dow Jones Islamic Market US Historical Data.csv
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
Processing file: Data\WTI_USD Historical Data.csv
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
Processing file: Data\US Dollar Index Historical Data.csv
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
Processing file: Data\CHF_USD Historical Data.csv
Columns: ['Date', 'Price', 'Open', 'High', 'Low', 'Vol.', 'Change %']
Processing file: Data\Ethereum_6_10_2015-8_9_2015_historical_data_coinmarketcap.csv
Columns: ['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'name', 'open', 'high', 'low', 'close', 'volume', 'marketCap', 'timestamp']
Processing file: Data\Tether USDt_2_12_2015-4_11_2015_historical_data_coinmarketcap.csv
Columns: ['timeOpen', 'timeClose', 'timeHigh', 'timeLow', 'name', 'open', 'high', 'low', 'close', 'volume', 'marketCap', 'timestamp']

# Phân đoạn dữ liệu theo từng giai đoạn khủng hoảng

In [4]:
Bitcoin = Bitcoin.rename(columns={'timeClose': 'Date'})
Ethereum = Ethereum.rename(columns={'timeClose': 'Date'})
Tether = Tether.rename(columns={'timeClose': 'Date'})

In [5]:
Bitcoin = Bitcoin.rename(columns={'close': 'Price'})
Ethereum = Ethereum.rename(columns={'close': 'Price'})
Tether = Tether.rename(columns={'close': 'Price'})

In [6]:
# Tạo dictionary cho tất cả các tài sản
assets = {
    "SP500": SP500,
    "Gold": Gold,
    "Silver": Silver,
    "Tbond": Tbond,
    "IMUS": IMUS,
    "WTI": WTI,
    "Dollar": Dollar,
    "Franc": Franc,
    "Bitcoin": Bitcoin,
    "Ethereum": Ethereum,
    "Tether": Tether
}

In [7]:
def convert_to_datetime_index_with_copy(assets, date_column='Date', copy_column_name='Time'):
    for name, df in assets.items():
        if date_column in df.columns:
            try:
                # Chuyển đổi cột 'Date' sang kiểu datetime
                df[date_column] = pd.to_datetime(df[date_column], errors='coerce')
                
                # Loại bỏ các dòng có giá trị null trong cột 'Date' trước khi sao chép
                df.dropna(subset=[date_column], inplace=True)
                
                # Tạo một cột bản sao 'Time' từ cột 'Date'
                df[copy_column_name] = df[date_column]
                
                # Đặt cột 'Time' làm index
                df.set_index(copy_column_name, inplace=True)
                
                print(f"Đã chuyển '{date_column}' thành datetime và tạo index từ cột '{copy_column_name}' cho bộ dữ liệu {name}")
            except Exception as e:
                print(f"Lỗi khi xử lý bộ dữ liệu {name}: {e}")
        else:
            print(f"Bộ dữ liệu {name} không có cột '{date_column}'")
    return assets

# Sử dụng hàm với tập dữ liệu assets
assets = convert_to_datetime_index_with_copy(assets)

Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu SP500
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu Gold
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu Silver
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu Tbond
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu IMUS
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu WTI
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu Dollar
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu Franc
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu Bitcoin
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu Ethereum
Đã chuyển 'Date' thành datetime và tạo index từ cột 'Time' cho bộ dữ liệu Tether

In [8]:
def segment_data_by_period(assets, periods, date_column='Date'):
    # Khởi tạo từ điển để lưu dữ liệu đã phân đoạn
    segmented_data = {period_name: {} for period_name in periods}

    for period_name, (start_date, end_date) in periods.items():
        # Chuyển start_date và end_date sang datetime và normalize
        start_date = pd.to_datetime(start_date).normalize()
        end_date = pd.to_datetime(end_date).normalize()

        for name, df in assets.items():
            # Chuyển cột 'Date' thành datetime và normalize nếu cần
            if date_column in df.columns:
                df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()

            # Kiểm tra và in các giá trị min, max để xác nhận phạm vi thời gian
            print(f"Kiểm tra dữ liệu {name} trong giai đoạn {period_name}: {df[date_column].min()} - {df[date_column].max()}")

            if period_name == "Full sample":
                # Nếu là "Full sample", cần lấy toàn bộ dữ liệu từ `start_date` đến `end_date`
                full_date_range = pd.date_range(start=start_date, end=end_date, freq='D')
                
                # Tạo DataFrame mới với đầy đủ ngày và điền NaN cho các ngày không có dữ liệu
                df_full_sample = pd.DataFrame({date_column: full_date_range})
                if date_column in df.columns:
                    df_merged = pd.merge(df_full_sample, df, on=date_column, how='left')
                    segmented_data[period_name][name] = df_merged
                else:
                    print(f"Dữ liệu {name} không có cột {date_column}, bỏ qua.")

            else:
                # Lọc dữ liệu cho các giai đoạn khác (GFC, COVID-19)
                if df[date_column].min() <= end_date and df[date_column].max() >= start_date:
                    try:
                        # Trích xuất dữ liệu trong phạm vi
                        df_segment = df[(df[date_column] >= start_date) & (df[date_column] <= end_date)]
                        if not df_segment.empty:
                            segmented_data[period_name][name] = df_segment
                            print(f"Đã trích xuất dữ liệu cho {name} trong giai đoạn {period_name}")
                        else:
                            print(f"Tài sản {name} không có dữ liệu trong giai đoạn {period_name}")
                    except Exception as e:
                        print(f"Lỗi khi trích xuất dữ liệu cho {name} trong giai đoạn {period_name}: {e}")
                else:
                    print(f"Tài sản {name} không có dữ liệu trong giai đoạn {period_name}")

    return segmented_data

In [9]:
gfc_period = ('2008-09-12', '2008-10-10')
covid_period = ('2020-01-20', '2020-08-18')
full_sample_period = ('2002-01-02', '2020-08-18')
periods = {
    "Full sample": full_sample_period,
    "GFC": gfc_period,
    "COVID-19": covid_period
}

# Phân đoạn dữ liệu
segmented_data = segment_data_by_period(assets, periods)

Kiểm tra dữ liệu SP500 trong giai đoạn Full sample: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu Gold trong giai đoạn Full sample: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu Silver trong giai đoạn Full sample: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu Tbond trong giai đoạn Full sample: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu IMUS trong giai đoạn Full sample: 2013-05-02 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu WTI trong giai đoạn Full sample: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu Dollar trong giai đoạn Full sample: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu Franc trong giai đoạn Full sample: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu Bitcoin trong giai đoạn Full sample: 2010-07-19 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu Ethereum trong giai đoạn Full sample: 2015-08-08 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu Tether trong giai đoạn Full sample: 2015-02-26 00:00:00 - 2020-08-18 00:00:00
Kiểm tra dữ liệu SP500 trong giai đoạn GFC: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho SP500 trong giai đoạn GFC
Kiểm tra dữ liệu Gold trong giai đoạn GFC: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Gold trong giai đoạn GFC
Kiểm tra dữ liệu Silver trong giai đoạn GFC: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Silver trong giai đoạn GFC
Kiểm tra dữ liệu Tbond trong giai đoạn GFC: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Tbond trong giai đoạn GFC
Kiểm tra dữ liệu IMUS trong giai đoạn GFC: 2013-05-02 00:00:00 - 2020-08-18 00:00:00
Tài sản IMUS không có dữ liệu trong giai đoạn GFC
Kiểm tra dữ liệu WTI trong giai đoạn GFC: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho WTI trong giai đoạn GFC
Kiểm tra dữ liệu Dollar trong giai đoạn GFC: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Dollar trong giai đoạn GFC
Kiểm tra dữ liệu Franc trong giai đoạn GFC: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Franc trong giai đoạn GFC
Kiểm tra dữ liệu Bitcoin trong giai đoạn GFC: 2010-07-19 00:00:00 - 2020-08-18 00:00:00
Tài sản Bitcoin không có dữ liệu trong giai đoạn GFC
Kiểm tra dữ liệu Ethereum trong giai đoạn GFC: 2015-08-08 00:00:00 - 2020-08-18 00:00:00
Tài sản Ethereum không có dữ liệu trong giai đoạn GFC
Kiểm tra dữ liệu Tether trong giai đoạn GFC: 2015-02-26 00:00:00 - 2020-08-18 00:00:00
Tài sản Tether không có dữ liệu trong giai đoạn GFC
Kiểm tra dữ liệu SP500 trong giai đoạn COVID-19: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho SP500 trong giai đoạn COVID-19
Kiểm tra dữ liệu Gold trong giai đoạn COVID-19: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Gold trong giai đoạn COVID-19
Kiểm tra dữ liệu Silver trong giai đoạn COVID-19: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Silver trong giai đoạn COVID-19
Kiểm tra dữ liệu Tbond trong giai đoạn COVID-19: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Tbond trong giai đoạn COVID-19
Kiểm tra dữ liệu IMUS trong giai đoạn COVID-19: 2013-05-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho IMUS trong giai đoạn COVID-19
Kiểm tra dữ liệu WTI trong giai đoạn COVID-19: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho WTI trong giai đoạn COVID-19
Kiểm tra dữ liệu Dollar trong giai đoạn COVID-19: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Dollar trong giai đoạn COVID-19
Kiểm tra dữ liệu Franc trong giai đoạn COVID-19: 2002-01-02 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Franc trong giai đoạn COVID-19
Kiểm tra dữ liệu Bitcoin trong giai đoạn COVID-19: 2010-07-19 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Bitcoin trong giai đoạn COVID-19
Kiểm tra dữ liệu Ethereum trong giai đoạn COVID-19: 2015-08-08 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Ethereum trong giai đoạn COVID-19
Kiểm tra dữ liệu Tether trong giai đoạn COVID-19: 2015-02-26 00:00:00 - 2020-08-18 00:00:00
Đã trích xuất dữ liệu cho Tether trong giai đoạn COVID-19

In [10]:
def check_segmented_data(segmented_data, periods, date_column='Date'):
    # Duyệt qua từng giai đoạn và tài sản đã phân đoạn
    for period_name, assets_in_period in segmented_data.items():
        print(f"Giai đoạn: {period_name}")
        start_date, end_date = periods[period_name]  # Lấy mốc thời gian của từng giai đoạn
        start_date = pd.to_datetime(start_date).normalize()
        end_date = pd.to_datetime(end_date).normalize()

        for asset_name, df in assets_in_period.items():
            if not df.empty:  # Kiểm tra nếu DataFrame không rỗng
                print(f"  Tài sản: {asset_name}")
                
                # Kiểm tra nếu cột 'Date' tồn tại
                if date_column in df.columns:
                    # Chuyển cột 'Date' thành datetime và chuẩn hóa
                    df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
                    
                    # Lấy ngày bắt đầu và kết thúc từ cột 'Date'
                    min_date = df[date_column].min()
                    max_date = df[date_column].max()
                    
                    print(f"    Bắt đầu: {min_date}, Kết thúc: {max_date}")
                    
                    # Kiểm tra xem dữ liệu có nằm trong phạm vi giai đoạn không
                    if min_date >= start_date and max_date <= end_date:
                        print(f"    Dữ liệu hợp lệ trong phạm vi {start_date} đến {end_date}")
                    else:
                        print(f"    Lỗi: Dữ liệu không nằm trong phạm vi {start_date} đến {end_date}")
                else:
                    print(f"    Lỗi: Tài sản {asset_name} không có cột '{date_column}'")
            else:
                print(f"  Tài sản: {asset_name} - Không có dữ liệu trong giai đoạn này")
        print("-" * 40)

In [11]:
# Kiểm tra dữ liệu đã phân đoạn
check_segmented_data(segmented_data, periods)

Giai đoạn: Full sample
  Tài sản: SP500
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Gold
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Silver
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Tbond
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: IMUS
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: WTI
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Dollar
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Franc
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Bitcoin
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Ethereum
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Tether
    Bắt đầu: 2002-01-02 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2002-01-02 00:00:00 đến 2020-08-18 00:00:00
----------------------------------------
Giai đoạn: GFC
  Tài sản: SP500
    Bắt đầu: 2008-09-12 00:00:00, Kết thúc: 2008-10-10 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2008-09-12 00:00:00 đến 2008-10-10 00:00:00
  Tài sản: Gold
    Bắt đầu: 2008-09-12 00:00:00, Kết thúc: 2008-10-10 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2008-09-12 00:00:00 đến 2008-10-10 00:00:00
  Tài sản: Silver
    Bắt đầu: 2008-09-12 00:00:00, Kết thúc: 2008-10-10 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2008-09-12 00:00:00 đến 2008-10-10 00:00:00
  Tài sản: Tbond
    Bắt đầu: 2008-09-12 00:00:00, Kết thúc: 2008-10-10 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2008-09-12 00:00:00 đến 2008-10-10 00:00:00
  Tài sản: WTI
    Bắt đầu: 2008-09-12 00:00:00, Kết thúc: 2008-10-10 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2008-09-12 00:00:00 đến 2008-10-10 00:00:00
  Tài sản: Dollar
    Bắt đầu: 2008-09-12 00:00:00, Kết thúc: 2008-10-10 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2008-09-12 00:00:00 đến 2008-10-10 00:00:00
  Tài sản: Franc
    Bắt đầu: 2008-09-12 00:00:00, Kết thúc: 2008-10-10 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2008-09-12 00:00:00 đến 2008-10-10 00:00:00
----------------------------------------
Giai đoạn: COVID-19
  Tài sản: SP500
    Bắt đầu: 2020-01-21 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Gold
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Silver
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Tbond
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: IMUS
    Bắt đầu: 2020-01-21 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: WTI
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Dollar
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Franc
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Bitcoin
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Ethereum
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
  Tài sản: Tether
    Bắt đầu: 2020-01-20 00:00:00, Kết thúc: 2020-08-18 00:00:00
    Dữ liệu hợp lệ trong phạm vi 2020-01-20 00:00:00 đến 2020-08-18 00:00:00
----------------------------------------

C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()
C:\Users\Legion\AppData\Local\Temp\ipykernel_10508\2785679387.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[date_column] = pd.to_datetime(df[date_column]).dt.normalize()

In [12]:
segmented_data

{'Full sample': {'SP500':            Date   Price    Open    High     Low  Vol. Change %
  0    2002-01-02  1154.7  1149.0  1154.7  1136.2   NaN    0.57%
  1    2002-01-03  1165.3  1155.5  1165.3  1154.0   NaN    0.92%
  2    2002-01-04  1172.5  1171.1  1176.5  1163.4   NaN    0.62%
  3    2002-01-05     NaN     NaN     NaN     NaN   NaN      NaN
  4    2002-01-06     NaN     NaN     NaN     NaN   NaN      NaN
  ...         ...     ...     ...     ...     ...   ...      ...
  6799 2020-08-14  3372.8  3368.7  3378.5  3361.6   NaN   -0.02%
  6800 2020-08-15     NaN     NaN     NaN     NaN   NaN      NaN
  6801 2020-08-16     NaN     NaN     NaN     NaN   NaN      NaN
  6802 2020-08-17  3382.0  3380.9  3387.6  3379.2   NaN    0.27%
  6803 2020-08-18  3389.8  3387.0  3395.1  3370.2   NaN    0.23%

  [6804 rows x 7 columns],
  'Gold':            Date    Price     Open     High      Low  Vol. Change %
  0    2002-01-02   278.85   278.85   278.85   278.85   NaN   -0.04%
  1    2002-01-03   278.45   278.85   278.45   278.45   NaN   -0.14%
  2    2002-01-04   278.95   278.55   278.95   278.95   NaN    0.18%
  3    2002-01-05      NaN      NaN      NaN      NaN   NaN      NaN
  4    2002-01-06      NaN      NaN      NaN      NaN   NaN      NaN
  ...         ...      ...      ...      ...      ...   ...      ...
  6799 2020-08-14  1944.29  1953.98  1962.62  1932.46   NaN   -0.50%
  6800 2020-08-15      NaN      NaN      NaN      NaN   NaN      NaN
  6801 2020-08-16      NaN      NaN      NaN      NaN   NaN      NaN
  6802 2020-08-17  1986.20  1946.22  1990.91  1929.74   NaN    2.16%
  6803 2020-08-18  2001.20  1985.47  2015.23  1977.56   NaN    0.76%

  [6804 rows x 7 columns],
  'Silver':            Date  Price     Open     High      Low  Vol. Change %
  0    2002-01-02   4.58   4.6000   4.5800   4.5700   NaN   -0.87%
  1    2002-01-03   4.65   4.5600   4.6500   4.6400   NaN    1.53%
  2    2002-01-04   4.70   4.6400   4.7000   4.6900   NaN    1.08%
  3    2002-01-05    NaN      NaN      NaN      NaN   NaN      NaN
  4    2002-01-06    NaN      NaN      NaN      NaN   NaN      NaN
  ...         ...    ...      ...      ...      ...   ...      ...
  6799 2020-08-14  26.41  27.5230  27.7240  25.7483   NaN   -4.16%
  6800 2020-08-15    NaN      NaN      NaN      NaN   NaN      NaN
  6801 2020-08-16    NaN      NaN      NaN      NaN   NaN      NaN
  6802 2020-08-17  27.40  26.6418  27.5712  25.8305   NaN    3.75%
  6803 2020-08-18  27.65  27.4550  28.4600  27.1211   NaN    0.91%

  [6804 rows x 7 columns],
  'Tbond':            Date  Price   Open   High    Low Change %
  0    2002-01-02  5.160  5.160  5.160  5.160    2.60%
  1    2002-01-03  5.111  5.111  5.111  5.111   -0.95%
  2    2002-01-04  5.125  5.125  5.125  5.125    0.27%
  3    2002-01-05    NaN    NaN    NaN    NaN      NaN
  4    2002-01-06    NaN    NaN    NaN    NaN      NaN
  ...         ...    ...    ...    ...    ...      ...
  6799 2020-08-14  0.709  0.717  0.722  0.690   -1.13%
  6800 2020-08-15    NaN    NaN    NaN    NaN      NaN
  6801 2020-08-16    NaN    NaN    NaN    NaN      NaN
  6802 2020-08-17  0.692  0.713  0.714  0.667   -2.52%
  6803 2020-08-18  0.670  0.682  0.688  0.657   -3.05%

  [6804 rows x 6 columns],
  'IMUS':            Date    Price     Open     High      Low  Vol. Change %
  0    2002-01-02      NaN      NaN      NaN      NaN   NaN      NaN
  1    2002-01-03      NaN      NaN      NaN      NaN   NaN      NaN
  2    2002-01-04      NaN      NaN      NaN      NaN   NaN      NaN
  3    2002-01-05      NaN      NaN      NaN      NaN   NaN      NaN
  4    2002-01-06      NaN      NaN      NaN      NaN   NaN      NaN
  ...         ...      ...      ...      ...      ...   ...      ...
  6799 2020-08-14  6811.75  6821.52  6824.27  6790.12   NaN   -0.14%
  6800 2020-08-15      NaN      NaN      NaN      NaN   NaN      NaN
  6801 2020-08-16      NaN      NaN      NaN      NaN   NaN      NaN
  6802 2020-08-17  6867.14  6811.75  6874.37  6811.75   NaN    0.81%
  6803 2020-08-18  6887.03  6867.14  6897.60  6837.93   NaN    0.29%

  [6804 rows x 7 columns],
  'WTI':            Date  Price   Open   High    Low  Vol. Change %
  0    2002-01-02  20.06  19.91  21.06  19.73   NaN    1.11%
  1    2002-01-03  20.77  21.16  21.36  19.84   NaN    3.54%
  2    2002-01-04  21.18  20.64  21.93  20.63   NaN    1.97%
  3    2002-01-05    NaN    NaN    NaN    NaN   NaN      NaN
  4    2002-01-06    NaN    NaN    NaN    NaN   NaN      NaN
  ...         ...    ...    ...    ...    ...   ...      ...
  6799 2020-08-14  23.76  23.73  23.78  23.45   NaN    0.04%
  6800 2020-08-15    NaN    NaN    NaN    NaN   NaN      NaN
  6801 2020-08-16  24.12  24.05  24.17  24.00   NaN    1.52%
  6802 2020-08-17  24.50  24.12  24.57  23.95   NaN    1.58%
  6803 2020-08-18  24.59  24.48  24.70  24.27   NaN    0.37%

  [6804 rows x 7 columns],
  'Dollar':            Date   Price    Open    High     Low  Vol. Change %
  0    2002-01-02  115.79  116.40  116.93  115.55   NaN   -0.82%
  1    2002-01-03  116.11  115.88  116.33  115.54   NaN    0.28%
  2    2002-01-04  116.33  116.07  116.53  115.97   NaN    0.19%
  3    2002-01-05     NaN     NaN     NaN     NaN   NaN      NaN
  4    2002-01-06     NaN     NaN     NaN     NaN   NaN      NaN
  ...         ...     ...     ...     ...     ...   ...      ...
  6799 2020-08-14   93.10   93.22   93.41   93.01   NaN   -0.26%
  6800 2020-08-15     NaN     NaN     NaN     NaN   NaN      NaN
  6801 2020-08-16     NaN     NaN     NaN     NaN   NaN      NaN
  6802 2020-08-17   92.85   93.10   93.12   92.77   NaN   -0.26%
  6803 2020-08-18   92.27   92.82   92.82   92.13   NaN   -0.62%

  [6804 rows x 7 columns],
  'Franc':            Date   Price    Open    High     Low    Vol. Change %
  0    2002-01-02  0.6082  0.6081  0.6082  0.6081     NaN    0.95%
  1    2002-01-03  0.6061  0.6060  0.6061  0.6060     NaN   -0.35%
  2    2002-01-04  0.6054  0.6053  0.6054  0.6053     NaN   -0.12%
  3    2002-01-05     NaN     NaN     NaN     NaN     NaN      NaN
  4    2002-01-06     NaN     NaN     NaN     NaN     NaN      NaN
  ...         ...     ...     ...     ...     ...     ...      ...
  6799 2020-08-14  1.1000  1.0984  1.1006  1.0960  33.74K    0.10%
  6800 2020-08-15     NaN     NaN     NaN     NaN     NaN      NaN
  6801 2020-08-16     NaN     NaN     NaN     NaN     NaN      NaN
  6802 2020-08-17  1.1028  1.0992  1.1049  1.0989  31.12K    0.25%
  6803 2020-08-18  1.1063  1.1028  1.1099  1.1027  33.40K    0.32%

  [6804 rows x 7 columns],
  'Bitcoin':            Date    name          open          high           low  \
  0    2002-01-02     NaN           NaN           NaN           NaN
  1    2002-01-03     NaN           NaN           NaN           NaN
  2    2002-01-04     NaN           NaN           NaN           NaN
  3    2002-01-05     NaN           NaN           NaN           NaN
  4    2002-01-06     NaN           NaN           NaN           NaN
  ...         ...     ...           ...           ...           ...
  6799 2020-08-14  2781.0  11772.659386  12150.993668  11685.455481
  6800 2020-08-15  2781.0  11768.697144  11963.203065  11768.697144
  6801 2020-08-16  2781.0  11866.685580  11934.900915  11737.188599
  6802 2020-08-17  2781.0  11895.657774  12359.057022  11806.695882
  6803 2020-08-18  2781.0  12251.895970  12335.707070  11954.525749

               Price        volume     marketCap                 timestamp
  0              NaN           NaN           NaN                       NaN
  1              NaN           NaN           NaN                       NaN
  2              NaN           NaN           NaN                       NaN
  3              NaN           NaN           NaN                       NaN
  4              NaN           NaN           NaN                       NaN
  ...            ...           ...           ...                       ...
  6799  11768.870619  2.423796e+10  2.172651e+11  2020-08-14T23:59:59.999Z
  6800  11865.698570  2.335492e+10  2.190644e+11  2020-08-15T23:59:59.999Z
  6801  11892.804063  2.058338e+10  2.195761e+11  2020-08-16T23:59:59.999Z
  6802  12254.401908  2.822769e+10  2.262617e+11  2020-08-17T23:59:59.999Z
  6803  11991.233246  2.604323e+10  2.214131e+11  2020-08-18T23:59:59.999Z

  [6804 rows x 9 columns],
  'Ethereum':            Date    name        open        high         low       Price  \
  0    2002-01-02     NaN         NaN         NaN         NaN         NaN
  1    2002-01-03     NaN         NaN         NaN         NaN         NaN
  2    2002-01-04     NaN         NaN         NaN         NaN         NaN
  3    2002-01-05     NaN         NaN         NaN         NaN         NaN
  4    2002-01-06     NaN         NaN         NaN         NaN         NaN
  ...         ...     ...         ...         ...         ...         ...
  6799 2020-08-14  2781.0  393.108354  396.208097  392.163415  394.366740
  6800 2020-08-15  2781.0  434.054795  437.676178  430.385536  432.871369
  6801 2020-08-16  2781.0  433.350598  436.265829  415.086255  433.786610
  6802 2020-08-17  2781.0  433.973761  442.734974  422.647281  429.531252
  6803 2020-08-18  2781.0  429.669620  432.580296  419.674107  423.669316

              volume     marketCap                 timestamp
  0              NaN           NaN                       NaN
  1              NaN           NaN                       NaN
  2              NaN           NaN                       NaN
  3              NaN           NaN                       NaN
  4              NaN           NaN                       NaN
  ...            ...           ...                       ...
  6799  1.401115e+10  4.423043e+10  2020-08-14T23:59:59.999Z
  6800  1.554830e+10  4.856074e+10  2020-08-15T23:59:59.999Z
  6801  1.216882e+10  4.867516e+10  2020-08-16T23:59:59.999Z
  6802  1.322709e+10  4.820343e+10  2020-08-17T23:59:59.999Z
  6803  1.197898e+10  4.755141e+10  2020-08-18T23:59:59.999Z

  [6804 rows x 9 columns],
  'Tether':            Date    name      open      high       low     Price        volume  \
  0    2002-01-02     NaN       NaN       NaN       NaN       NaN           NaN
  1    2002-01-03     NaN       NaN       NaN       NaN       NaN           NaN
  2    2002-01-04     NaN       NaN       NaN       NaN       NaN           NaN
  3    2002-01-05     NaN       NaN       NaN       NaN       NaN           NaN
  4    2002-01-06     NaN       NaN       NaN       NaN       NaN           NaN
  ...         ...     ...       ...       ...       ...       ...           ...
  6799 2020-08-14  2781.0  1.021125  1.025900  0.991814  1.001024  3.841775e+10
  6800 2020-08-15  2781.0  1.001003  1.010070  0.998149  1.001032  3.868112e+10
  6801 2020-08-16  2781.0  1.001093  1.008545  0.997908  1.001881  3.560332e+10
  6802 2020-08-17  2781.0  1.001907  1.016629  0.996617  1.000111  4.304721e+10
  6803 2020-08-18  2781.0  1.000096  1.009476  0.997239  1.002720  4.087317e+10

           marketCap                 timestamp
  0              NaN                       NaN
  1              NaN                       NaN
  2              NaN                       NaN
  3              NaN                       NaN
  4              NaN                       NaN
  ...            ...                       ...
  6799  1.000846e+10  2020-08-14T23:59:59.999Z
  6800  1.000854e+10  2020-08-15T23:59:59.999Z
  6801  1.001703e+10  2020-08-16T23:59:59.999Z
  6802  9.999327e+09  2020-08-17T23:59:59.999Z
  6803  1.002542e+10  2020-08-18T23:59:59.999Z

  [6804 rows x 9 columns]},
 'GFC': {'SP500':                  Date   Price    Open    High     Low  Vol. Change %
  Time
  2008-10-10 2008-10-10   899.2   902.3   936.4   839.8   NaN   -1.18%
  2008-10-09 2008-10-09   909.9   988.4  1005.2   909.2   NaN   -7.61%
  2008-10-08 2008-10-08   984.9   988.9  1021.1   971.0   NaN   -1.13%
  2008-10-07 2008-10-07   996.2  1057.6  1072.9   996.2   NaN   -5.74%
  2008-10-06 2008-10-06  1056.9  1097.6  1097.6  1008.0   NaN   -3.85%
  2008-10-03 2008-10-03  1099.2  1115.2  1153.8  1098.1   NaN   -1.36%
  2008-10-02 2008-10-02  1114.3  1160.6  1160.6  1111.4   NaN   -4.03%
  2008-10-01 2008-10-01  1161.1  1164.2  1167.0  1140.8   NaN   -0.45%
  2008-09-30 2008-09-30  1166.4  1113.8  1168.0  1113.8   NaN    5.42%
  2008-09-29 2008-09-29  1106.4  1209.1  1209.1  1106.4   NaN   -8.79%
  2008-09-26 2008-09-26  1213.0  1204.5  1215.8  1187.5   NaN    0.31%
  2008-09-25 2008-09-25  1209.2  1187.9  1220.0  1187.9   NaN    1.96%
  2008-09-24 2008-09-24  1185.9  1188.8  1197.4  1179.8   NaN   -0.19%
  2008-09-23 2008-09-23  1188.2  1207.6  1221.2  1187.1   NaN   -1.57%
  2008-09-22 2008-09-22  1207.1  1255.4  1255.4  1205.6   NaN   -3.82%
  2008-09-19 2008-09-19  1255.1  1213.1  1265.1  1213.1   NaN    4.03%
  2008-09-18 2008-09-18  1206.5  1157.1  1211.1  1133.5   NaN    4.33%
  2008-09-17 2008-09-17  1156.4  1210.3  1210.3  1155.9   NaN   -4.71%
  2008-09-16 2008-09-16  1213.6  1188.3  1214.8  1169.3   NaN    1.75%
  2008-09-15 2008-09-15  1192.7  1250.9  1250.9  1192.7   NaN   -4.71%
  2008-09-12 2008-09-12  1251.7  1245.9  1255.1  1233.8   NaN    0.22%,
  'Gold':                  Date   Price    Open    High     Low  Vol. Change %
  Time
  2008-10-10 2008-10-10  851.40  914.60  935.00  827.50   NaN   -6.80%
  2008-10-09 2008-10-09  913.50  907.00  920.00  879.65   NaN    0.55%
  2008-10-08 2008-10-08  908.50  889.10  922.00  879.20   NaN    2.24%
  2008-10-07 2008-10-07  888.60  858.00  892.60  856.95   NaN    3.45%
  2008-10-06 2008-10-06  858.95  833.50  877.00  826.90   NaN    2.65%
  2008-10-03 2008-10-03  836.80  837.25  848.40  820.70   NaN   -0.02%
  2008-10-02 2008-10-02  837.00  871.25  876.75  831.20   NaN   -3.88%
  2008-10-01 2008-10-01  870.75  872.15  894.80  865.60   NaN   -0.14%
  2008-09-30 2008-09-30  871.95  904.15  916.00  857.70   NaN   -3.78%
  2008-09-29 2008-09-29  906.25  884.00  923.00  869.25   NaN    2.99%
  2008-09-26 2008-09-26  879.90  878.10  912.65  867.70   NaN    0.31%
  2008-09-25 2008-09-25  877.20  883.10  898.10  864.35   NaN   -0.56%
  2008-09-24 2008-09-24  882.10  889.75  902.70  878.50   NaN   -1.13%
  2008-09-23 2008-09-23  892.20  900.30  910.30  881.65   NaN   -1.06%
  2008-09-22 2008-09-22  901.80  873.25  906.40  863.00   NaN    3.28%
  2008-09-19 2008-09-19  873.15  848.75  877.80  825.80   NaN    2.45%
  2008-09-18 2008-09-18  852.25  865.50  907.60  846.70   NaN   -1.38%
  2008-09-17 2008-09-17  864.20  777.00  867.60  775.55   NaN   11.00%
  2008-09-16 2008-09-16  778.55  787.45  790.70  772.55   NaN   -1.10%
  2008-09-15 2008-09-15  787.20  766.00  787.25  765.40   NaN    2.98%
  2008-09-12 2008-09-12  764.45  748.95  766.75  747.05   NaN    2.23%,
  'Silver':                  Date  Price   Open   High    Low  Vol. Change %
  Time
  2008-10-10 2008-10-10  10.20  12.08  12.33   9.49   NaN  -15.42%
  2008-10-09 2008-10-09  12.06  11.70  12.14  11.46   NaN    2.64%
  2008-10-08 2008-10-08  11.75  11.52  12.12  11.38   NaN    1.64%
  2008-10-07 2008-10-07  11.56  11.00  11.86  10.94   NaN    4.52%
  2008-10-06 2008-10-06  11.06  11.10  11.53  10.86   NaN   -0.72%
  2008-10-03 2008-10-03  11.14  10.80  11.73  10.75   NaN    2.67%
  2008-10-02 2008-10-02  10.85  12.53  12.60  10.78   NaN  -13.68%
  2008-10-01 2008-10-01  12.57  12.03  13.01  11.93   NaN    4.14%
  2008-09-30 2008-09-30  12.07  13.10  13.24  11.72   NaN   -8.00%
  2008-09-29 2008-09-29  13.12  13.29  13.39  12.65   NaN   -1.65%
  2008-09-26 2008-09-26  13.34  13.18  13.68  13.01   NaN    0.98%
  2008-09-25 2008-09-25  13.21  13.19  13.77  13.03   NaN   -0.30%
  2008-09-24 2008-09-24  13.25  13.23  13.65  13.02   NaN   -0.08%
  2008-09-23 2008-09-23  13.26  13.42  13.67  12.95   NaN   -1.41%
  2008-09-22 2008-09-22  13.45  12.64  13.59  12.45   NaN    6.75%
  2008-09-19 2008-09-19  12.60  11.85  12.66  11.73   NaN    5.53%
  2008-09-18 2008-09-18  11.94  11.99  13.09  11.68   NaN   -0.91%
  2008-09-17 2008-09-17  12.05  10.49  12.07  10.41   NaN   14.87%
  2008-09-16 2008-09-16  10.49  11.09  11.22  10.41   NaN   -5.75%
  2008-09-15 2008-09-15  11.13  10.88  11.20  10.40   NaN    2.30%
  2008-09-12 2008-09-12  10.88  10.56  10.96  10.54   NaN    2.74%,
  'Tbond':                  Date  Price   Open   High    Low Change %
  Time
  2008-10-10 2008-10-10  3.876  3.876  3.876  3.876    2.40%
  2008-10-09 2008-10-09  3.785  3.785  3.785  3.785    3.76%
  2008-10-08 2008-10-08  3.648  3.648  3.648  3.648    4.05%
  2008-10-07 2008-10-07  3.506  3.506  3.506  3.506    1.27%
  2008-10-06 2008-10-06  3.462  3.462  3.462  3.462   -3.91%
  2008-10-03 2008-10-03  3.603  3.603  3.603  3.603   -0.77%
  2008-10-02 2008-10-02  3.631  3.631  3.631  3.631   -3.07%
  2008-10-01 2008-10-01  3.746  3.746  3.746  3.746   -2.17%
  2008-09-30 2008-09-30  3.829  3.829  3.829  3.829    7.13%
  2008-09-29 2008-09-29  3.574  3.574  3.574  3.574   -7.36%
  2008-09-26 2008-09-26  3.858  3.858  3.858  3.858    0.10%
  2008-09-25 2008-09-25  3.854  3.854  3.854  3.854    1.10%
  2008-09-24 2008-09-24  3.812  3.812  3.812  3.812    0.18%
  2008-09-23 2008-09-23  3.805  3.805  3.805  3.805   -1.07%
  2008-09-22 2008-09-22  3.846  3.846  3.846  3.846    0.79%
  2008-09-19 2008-09-19  3.816  3.816  3.816  3.816    7.52%
  2008-09-18 2008-09-18  3.549  3.549  3.549  3.549    3.74%
  2008-09-17 2008-09-17  3.421  3.421  3.421  3.421   -0.52%
  2008-09-16 2008-09-16  3.439  3.439  3.439  3.439    1.45%
  2008-09-15 2008-09-15  3.390  3.390  3.390  3.390   -8.92%
  2008-09-12 2008-09-12  3.722  3.722  3.722  3.722    2.03%,
  'WTI':                  Date   Price    Open    High     Low  Vol. Change %
  Time
  2008-10-10 2008-10-10   78.24   84.94   85.14   77.10   NaN   -7.88%
  2008-10-09 2008-10-09   84.93   88.86   89.88   84.25   NaN   -4.44%
  2008-10-08 2008-10-08   88.88   89.59   91.02   86.08   NaN   -0.60%
  2008-10-07 2008-10-07   89.42   88.97   93.03   87.89   NaN    0.55%
  2008-10-06 2008-10-06   88.93   92.55   92.73   87.61   NaN   -5.15%
  2008-10-03 2008-10-03   93.76   93.86   96.04   91.31   NaN   -0.10%
  2008-10-02 2008-10-02   93.85   98.80  100.44   93.63   NaN   -4.90%
  2008-10-01 2008-10-01   98.69  101.92  102.90   96.01   NaN   -3.17%
  2008-09-30 2008-09-30  101.92   95.50  102.55   93.45   NaN    6.85%
  2008-09-29 2008-09-29   95.39  106.98  107.00   95.14   NaN  -10.70%
  2008-09-26 2008-09-26  106.82  107.71  108.12  104.25   NaN   -0.76%
  2008-09-25 2008-09-25  107.64  105.57  108.71  103.26   NaN    2.12%
  2008-09-24 2008-09-24  105.41  107.06  109.62  104.92   NaN   -1.44%
  2008-09-23 2008-09-23  106.95  108.98  109.58  104.05   NaN  -11.18%
  2008-09-22 2008-09-22  120.41  106.85  131.88  105.23   NaN   15.83%
  2008-09-19 2008-09-19  103.95   98.00  105.30   97.44   NaN    6.09%
  2008-09-18 2008-09-18   97.98   97.13  102.27   95.77   NaN    0.83%
  2008-09-17 2008-09-17   97.17   92.87   97.69   91.42   NaN    4.79%
  2008-09-16 2008-09-16   92.73   94.34   94.42   90.62   NaN   -1.38%
  2008-09-15 2008-09-15   94.03  101.03  101.22   94.03   NaN   -6.83%
  2008-09-12 2008-09-12  100.92  101.17  102.91  100.01   NaN   -0.14%,
  'Dollar':                  Date  Price   Open   High    Low  Vol. Change %
  Time
  2008-10-10 2008-10-10  83.00  81.40  83.19  81.29   NaN    2.27%
  2008-10-09 2008-10-09  81.16  81.00  81.49  80.54   NaN    0.31%
  2008-10-08 2008-10-08  80.91  81.19  81.36  80.40   NaN   -0.07%
  2008-10-07 2008-10-07  80.97  81.46  81.65  80.57   NaN   -0.86%
  2008-10-06 2008-10-06  81.67  81.09  81.75  80.81   NaN    1.69%
  2008-10-03 2008-10-03  80.31  80.51  80.93  79.99   NaN   -0.16%
  2008-10-02 2008-10-02  80.44  79.70  80.79  79.64   NaN    1.23%
  2008-10-01 2008-10-01  79.46  79.20  79.87  78.95   NaN    0.01%
  2008-09-30 2008-09-30  79.45  77.89  79.69  77.73   NaN    2.56%
  2008-09-29 2008-09-29  77.47  76.91  78.37  76.90   NaN    0.68%
  2008-09-26 2008-09-26  76.95  76.97  77.15  76.69   NaN   -0.05%
  2008-09-25 2008-09-25  76.99  76.86  77.28  76.30   NaN    0.26%

In [13]:
def sort_data_by_date(segmented_data, date_column='Date'):

    sorted_data = {period: {} for period in segmented_data}

    for period, assets in segmented_data.items():
        for asset_name, df in assets.items():
            if date_column in df.columns:
                try:
                    # Sắp xếp dữ liệu theo cột ngày tháng
                    df_sorted = df.sort_values(by=date_column).reset_index(drop=True)
                    sorted_data[period][asset_name] = df_sorted
                    print(f"Sắp xếp dữ liệu cho {asset_name} trong giai đoạn {period} thành công.")
                except Exception as e:
                    print(f"Lỗi khi sắp xếp dữ liệu cho {asset_name} trong giai đoạn {period}: {e}")
            else:
                print(f"Tài sản {asset_name} không có cột {date_column}. Bỏ qua.")
    
    return sorted_data

In [14]:
segmented_data= sort_data_by_date(segmented_data)

Sắp xếp dữ liệu cho SP500 trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho Gold trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho Silver trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho Tbond trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho IMUS trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho WTI trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho Dollar trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho Franc trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho Bitcoin trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho Ethereum trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho Tether trong giai đoạn Full sample thành công.
Sắp xếp dữ liệu cho SP500 trong giai đoạn GFC thành công.
Sắp xếp dữ liệu cho Gold trong giai đoạn GFC thành công.
Sắp xếp dữ liệu cho Silver trong giai đoạn GFC thành công.
Sắp xếp dữ liệu cho Tbond trong giai đoạn GFC thành công.
Sắp xếp dữ liệu cho WTI trong giai đoạn GFC thành công.
Sắp xếp dữ liệu cho Dollar trong giai đoạn GFC thành công.
Sắp xếp dữ liệu cho Franc trong giai đoạn GFC thành công.
Sắp xếp dữ liệu cho SP500 trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho Gold trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho Silver trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho Tbond trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho IMUS trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho WTI trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho Dollar trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho Franc trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho Bitcoin trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho Ethereum trong giai đoạn COVID-19 thành công.
Sắp xếp dữ liệu cho Tether trong giai đoạn COVID-19 thành công.

#  Tính lợi nhuận hàng ngày cho từng giai đoạn

In [15]:
def log_returns(segmented_data, price_column='Price'):

    
    log_returns_data = {period: {} for period in segmented_data}

    for period, assets in segmented_data.items():
        for asset_name, df in assets.items():
            if price_column in df.columns:
                try:
                    # Tính log return
                    df['Log Return'] = np.log(df[price_column] / df[price_column].shift(1))
            
                    log_returns_data[period][asset_name] = df
                    print(f"Tính Log Return cho {asset_name} trong giai đoạn {period} thành công.")
                except Exception as e:
                    print(f"Lỗi khi tính toán Log Return cho {asset_name} trong giai đoạn {period}: {e}")
            else:
                print(f"Tài sản {asset_name} không có cột {price_column}. Bỏ qua.")

    return log_returns_data

In [16]:
log_returns_data = log_returns(segmented_data)

# Kiểm tra kết quả
for period, assets in log_returns_data.items():
    for asset, df in assets.items():
        print(f"{asset} - {period}:")
        print(df[['Date', 'Price', 'Log Return']].head())

Tính Log Return cho SP500 trong giai đoạn Full sample thành công.
Tính Log Return cho Gold trong giai đoạn Full sample thành công.
Tính Log Return cho Silver trong giai đoạn Full sample thành công.
Tính Log Return cho Tbond trong giai đoạn Full sample thành công.
Tính Log Return cho IMUS trong giai đoạn Full sample thành công.
Tính Log Return cho WTI trong giai đoạn Full sample thành công.
Tính Log Return cho Dollar trong giai đoạn Full sample thành công.
Tính Log Return cho Franc trong giai đoạn Full sample thành công.
Tính Log Return cho Bitcoin trong giai đoạn Full sample thành công.
Tính Log Return cho Ethereum trong giai đoạn Full sample thành công.
Tính Log Return cho Tether trong giai đoạn Full sample thành công.
Tính Log Return cho SP500 trong giai đoạn GFC thành công.
Tính Log Return cho Gold trong giai đoạn GFC thành công.
Tính Log Return cho Silver trong giai đoạn GFC thành công.
Tính Log Return cho Tbond trong giai đoạn GFC thành công.
Tính Log Return cho WTI trong giai đoạn GFC thành công.
Tính Log Return cho Dollar trong giai đoạn GFC thành công.
Tính Log Return cho Franc trong giai đoạn GFC thành công.
Tính Log Return cho SP500 trong giai đoạn COVID-19 thành công.
Tính Log Return cho Gold trong giai đoạn COVID-19 thành công.
Tính Log Return cho Silver trong giai đoạn COVID-19 thành công.
Tính Log Return cho Tbond trong giai đoạn COVID-19 thành công.
Tính Log Return cho IMUS trong giai đoạn COVID-19 thành công.
Tính Log Return cho WTI trong giai đoạn COVID-19 thành công.
Tính Log Return cho Dollar trong giai đoạn COVID-19 thành công.
Tính Log Return cho Franc trong giai đoạn COVID-19 thành công.
Tính Log Return cho Bitcoin trong giai đoạn COVID-19 thành công.
Tính Log Return cho Ethereum trong giai đoạn COVID-19 thành công.
Tính Log Return cho Tether trong giai đoạn COVID-19 thành công.
SP500 - Full sample:
        Date   Price  Log Return
0 2002-01-02  1154.7         NaN
1 2002-01-03  1165.3    0.009138
2 2002-01-04  1172.5    0.006160
3 2002-01-05     NaN         NaN
4 2002-01-06     NaN         NaN
Gold - Full sample:
        Date   Price  Log Return
0 2002-01-02  278.85         NaN
1 2002-01-03  278.45   -0.001435
2 2002-01-04  278.95    0.001794
3 2002-01-05     NaN         NaN
4 2002-01-06     NaN         NaN
Silver - Full sample:
        Date  Price  Log Return
0 2002-01-02   4.58         NaN
1 2002-01-03   4.65    0.015168
2 2002-01-04   4.70    0.010695
3 2002-01-05    NaN         NaN
4 2002-01-06    NaN         NaN
Tbond - Full sample:
        Date  Price  Log Return
0 2002-01-02  5.160         NaN
1 2002-01-03  5.111   -0.009541
2 2002-01-04  5.125    0.002735
3 2002-01-05    NaN         NaN
4 2002-01-06    NaN         NaN
IMUS - Full sample:
        Date  Price  Log Return
0 2002-01-02    NaN         NaN
1 2002-01-03    NaN         NaN
2 2002-01-04    NaN         NaN
3 2002-01-05    NaN         NaN
4 2002-01-06    NaN         NaN
WTI - Full sample:
        Date  Price  Log Return
0 2002-01-02  20.06         NaN
1 2002-01-03  20.77    0.034782
2 2002-01-04  21.18    0.019548
3 2002-01-05    NaN         NaN
4 2002-01-06    NaN         NaN
Dollar - Full sample:
        Date   Price  Log Return
0 2002-01-02  115.79         NaN
1 2002-01-03  116.11    0.002760
2 2002-01-04  116.33    0.001893
3 2002-01-05     NaN         NaN
4 2002-01-06     NaN         NaN
Franc - Full sample:
        Date   Price  Log Return
0 2002-01-02  0.6082         NaN
1 2002-01-03  0.6061   -0.003459
2 2002-01-04  0.6054   -0.001156
3 2002-01-05     NaN         NaN
4 2002-01-06     NaN         NaN
Bitcoin - Full sample:
        Date  Price  Log Return
0 2002-01-02    NaN         NaN
1 2002-01-03    NaN         NaN
2 2002-01-04    NaN         NaN
3 2002-01-05    NaN         NaN
4 2002-01-06    NaN         NaN
Ethereum - Full sample:
        Date  Price  Log Return
0 2002-01-02    NaN         NaN
1 2002-01-03    NaN         NaN
2 2002-01-04    NaN         NaN
3 2002-01-05    NaN         NaN
4 2002-01-06    NaN         NaN
Tether - Full sample:
        Date  Price  Log Return
0 2002-01-02    NaN         NaN
1 2002-01-03    NaN         NaN
2 2002-01-04    NaN         NaN
3 2002-01-05    NaN         NaN
4 2002-01-06    NaN         NaN
SP500 - GFC:
        Date   Price  Log Return
0 2008-09-12  1251.7         NaN
1 2008-09-15  1192.7   -0.048283
2 2008-09-16  1213.6    0.017372
3 2008-09-17  1156.4   -0.048279
4 2008-09-18  1206.5    0.042412
Gold - GFC:
        Date   Price  Log Return
0 2008-09-12  764.45         NaN
1 2008-09-15  787.20    0.029326
2 2008-09-16  778.55   -0.011049
3 2008-09-17  864.20    0.104371
4 2008-09-18  852.25   -0.013924
Silver - GFC:
        Date  Price  Log Return
0 2008-09-12  10.88         NaN
1 2008-09-15  11.13    0.022718
2 2008-09-16  10.49   -0.059222
3 2008-09-17  12.05    0.138642
4 2008-09-18  11.94   -0.009171
Tbond - GFC:
        Date  Price  Log Return
0 2008-09-12  3.722         NaN
1 2008-09-15  3.390   -0.093431
2 2008-09-16  3.439    0.014351
3 2008-09-17  3.421   -0.005248
4 2008-09-18  3.549    0.036733
WTI - GFC:
        Date   Price  Log Return
0 2008-09-12  100.92         NaN
1 2008-09-15   94.03   -0.070714
2 2008-09-16   92.73   -0.013922
3 2008-09-17   97.17    0.046770
4 2008-09-18   97.98    0.008301
Dollar - GFC:
        Date  Price  Log Return
0 2008-09-12  78.97         NaN
1 2008-09-15  78.91   -0.000760
2 2008-09-16  79.07    0.002026
3 2008-09-17  78.09   -0.012472
4 2008-09-18  78.02   -0.000897
Franc - GFC:
        Date   Price  Log Return
0 2008-09-12  0.8845         NaN
1 2008-09-15  0.8972    0.014256
2 2008-09-16  0.8911   -0.006822
3 2008-09-17  0.9057    0.016251
4 2008-09-18  0.9031   -0.002875
SP500 - COVID-19:
        Date   Price  Log Return
0 2020-01-21  3320.8         NaN
1 2020-01-22  3321.8    0.000301
2 2020-01-23  3325.5    0.001113
3 2020-01-24  3295.5   -0.009062
4 2020-01-27  3243.6   -0.015874
Gold - COVID-19:
        Date    Price  Log Return
0 2020-01-20  1561.58         NaN
1 2020-01-21  1558.02   -0.002282
2 2020-01-22  1558.91    0.000571
3 2020-01-23  1563.33    0.002831
4 2020-01-24  1570.65    0.004671
Silver - COVID-19:
        Date    Price  Log Return
0 2020-01-20  18.0650         NaN
1 2020-01-21  17.7721   -0.016347
2 2020-01-22  17.8180    0.002579
3 2020-01-23  17.7840   -0.001910
4 2020-01-24  18.0820    0.016618
Tbond - COVID-19:
        Date  Price  Log Return
0 2020-01-20  1.823         NaN
1 2020-01-21  1.774   -0.027247
2 2020-01-22  1.769   -0.002822
3 2020-01-23  1.731   -0.021715
4 2020-01-24  1.686   -0.026340
IMUS - COVID-19:
        Date    Price  Log Return
0 2020-01-21  6248.73         NaN
1 2020-01-22  6254.25    0.000883
2 2020-01-23  6260.95    0.001071
3 2020-01-24  6211.84   -0.007875
4 2020-01-27  6113.89   -0.015894
WTI - COVID-19:
        Date  Price  Log Return
0 2020-01-20  58.67         NaN
1 2020-01-21  58.26   -0.007013
2 2020-01-22  56.09   -0.037958
3 2020-01-23  55.62   -0.008415
4 2020-01-24  54.13   -0.027154
Dollar - COVID-19:
        Date  Price  Log Return
0 2020-01-20  97.61         NaN
1 2020-01-21  97.53   -0.000820
2 2020-01-22  97.53    0.000000
3 2020-01-23  97.69    0.001639
4 2020-01-24  97.85    0.001636
Franc - COVID-19:
        Date   Price  Log Return
0 2020-01-20  1.0327         NaN
1 2020-01-21  1.0322   -0.000484
2 2020-01-22  1.0330    0.000775
3 2020-01-23  1.0319   -0.001065
4 2020-01-24  1.0294   -0.002426
Bitcoin - COVID-19:
        Date        Price  Log Return
0 2020-01-20  8657.642939         NaN
1 2020-01-21  8745.894788    0.010142
2 2020-01-22  8680.876042   -0.007462
3 2020-01-23  8406.516068   -0.032115
4 2020-01-24  8445.434282    0.004619
Ethereum - COVID-19:
        Date       Price  Log Return
0 2020-01-20  167.120509         NaN
1 2020-01-21  169.697164    0.015300
2 2020-01-22  168.294162   -0.008302
3 2020-01-23  162.928558   -0.032402
4 2020-01-24  163.051183    0.000752
Tether - COVID-19:
        Date     Price  Log Return
0 2020-01-20  1.000688         NaN
1 2020-01-21  1.001418    0.000730
2 2020-01-22  1.000595   -0.000823
3 2020-01-23  0.998409   -0.002187
4 2020-01-24  1.002970    0.004558

#  Descriptive statistics

In [17]:
from scipy.stats import skew, kurtosis, jarque_bera

In [18]:


def generate_summary_table(log_returns_data, periods):
    data_list = []

    for period, data_dict in log_returns_data.items():
        for asset, df in data_dict.items():
            # Tính các thống kê cho từng tài sản và từng giai đoạn
            mean = df['Log Return'].mean()
            std_dev = df['Log Return'].std()
            sharpe_ratio = mean / std_dev if std_dev != 0 else 0
            skewness = df['Log Return'].skew()
            kurtosis = df['Log Return'].kurtosis()
            jb_stat, jb_p_value = jarque_bera(df['Log Return'])

            # Lưu kết quả vào list
            data_list.append({
                'Variable': asset,
                'Period': period,
                'Mean': mean,
                'Std. Dev.': std_dev,
                'Sharpe Ratio': sharpe_ratio,
                'Skewness': skewness,
                'Kurtosis': kurtosis,
                'Jarque-Bera': jb_stat
            })

    return pd.DataFrame(data_list)

# Tạo DataFrame từ hàm generate_summary_table
summary_df = generate_summary_table(log_returns_data, periods)

# Kiểm tra lại nội dung của summary_df
print(summary_df.columns)
print(summary_df.head())

Index(['Variable', 'Period', 'Mean', 'Std. Dev.', 'Sharpe Ratio', 'Skewness',
       'Kurtosis', 'Jarque-Bera'],
      dtype='object')
  Variable       Period      Mean  Std. Dev.  Sharpe Ratio  Skewness  \
0    SP500  Full sample  0.000314   0.011940      0.026340 -0.199933
1     Gold  Full sample  0.000494   0.011026      0.044800 -0.203695
2   Silver  Full sample  0.000463   0.019424      0.023835 -1.100664
3    Tbond  Full sample -0.000320   0.025086     -0.012757  0.970542
4     IMUS  Full sample  0.000603   0.010541      0.057220 -0.068218

    Kurtosis  Jarque-Bera
0   9.693244          NaN
1   5.415679          NaN
2   9.234843          NaN
3  31.788735          NaN
4  14.876121          NaN

In [19]:
summary_df

,Variable,Period,Mean,Std. Dev.,Sharpe Ratio,Skewness,Kurtosis,Jarque-Bera
0,SP500,Full sample,0.000314,0.011940,0.026340,-0.199933,9.693244,NaN
1,Gold,Full sample,0.000494,0.011026,0.044800,-0.203695,5.415679,NaN
2,Silver,Full sample,0.000463,0.019424,0.023835,-1.100664,9.234843,NaN
3,Tbond,Full sample,-0.000320,0.025086,-0.012757,0.970542,31.788735,NaN
4,IMUS,Full sample,0.000603,0.010541,0.057220,-0.068218,14.876121,NaN
5,WTI,Full sample,0.000397,0.024997,0.015862,-1.848228,31.154409,NaN
6,Dollar,Full sample,-0.000037,0.004996,-0.007326,0.042894,1.777376,NaN
7,Franc,Full sample,0.000171,0.007067,0.024168,3.200116,96.892465,NaN
8,Bitcoin,Full sample,0.003256,0.054348,0.059917,-1.080287,19.715836,NaN
9,Ethereum,Full sample,0.003447,0.062766,0.054919,0.087398,8.123639,NaN
10,Tether,Full sample,0.000001,0.005440,0.000209,0.477301,27.566428,NaN
11,SP500,GFC,-0.016538,0.039567,-0.417962,-0.039889,-0.523618,NaN
12,Gold,GFC,0.005386,0.036010,0.149576,0.535230,2.450266,NaN
13,Silver,GFC,-0.003227,0.069897,-0.046167,-0.766925,1.476371,NaN
14,Tbond,GFC,0.002027,0.041773,0.048528,-0.544988,0.627135,NaN
15,WTI,GFC,-0.012727,0.063452,-0.200583,0.530512,0.907888,NaN
16,Dollar,GFC,0.002489,0.010755,0.231384,0.336945,0.757949,NaN
17,Franc,GFC,-0.000346,0.012333,-0.028056,0.159579,0.876447,NaN
18,SP500,COVID-19,0.000141,0.027282,0.005163,-0.699690,5.349453,NaN
19,Gold,COVID-19,0.001643,0.012940,0.126945,-0.820698,4.029470,NaN
20,Silver,COVID-19,0.002819,0.030690,0.091850,-1.231076,7.392732,NaN
21,Tbond,COVID-19,-0.006718,0.085475,-0.078595,0.236514,5.803433,NaN
22,IMUS,COVID-19,0.000666,0.027027,0.024649,-0.694524,5.504269,NaN
23,WTI,COVID-19,-0.004831,0.060946,-0.079268,-2.884925,16.640874,NaN
24,Dollar,COVID-19,-0.000373,0.005074,-0.073431,0.521051,1.998060,NaN
25,Franc,COVID-19,0.000456,0.004977,0.091613,-0.318792,1.767079,NaN
26,Bitcoin,COVID-19,0.001544,0.046360,0.033300,-4.521652,49.048295,NaN
27,Ethereum,COVID-19,0.004409,0.058519,0.075338,-3.879924,38.727640,NaN
28,Tether,COVID-19,0.000010,0.007248,0.001327,0.226850,27.587918,NaN

In [20]:
import matplotlib.pyplot as plt
from scipy.stats import jarque_bera

In [21]:
segmented_data["GFC"]["Franc"]

         Date   Price    Open    High     Low Vol. Change %  Log Return
0  2008-09-12  0.8845  0.8795  0.8857  0.8770  NaN    0.51%         NaN
1  2008-09-15  0.8972  0.8936  0.9045  0.8864  NaN    1.44%    0.014256
2  2008-09-16  0.8911  0.8976  0.9053  0.8891  NaN   -0.68%   -0.006822
3  2008-09-17  0.9057  0.8908  0.9099  0.8889  NaN    1.64%    0.016251
4  2008-09-18  0.9031  0.9051  0.9176  0.9000  NaN   -0.29%   -0.002875
5  2008-09-19  0.9048  0.9029  0.9085  0.8863  NaN    0.19%    0.001881
6  2008-09-22  0.9304  0.9056  0.9351  0.9045  NaN    2.83%    0.027901
7  2008-09-23  0.9201  0.9314  0.9324  0.9181  NaN   -1.11%   -0.011132
8  2008-09-24  0.9159  0.9192  0.9258  0.9155  NaN   -0.46%   -0.004575
9  2008-09-25  0.9181  0.9157  0.9258  0.9137  NaN    0.24%    0.002399
10 2008-09-26  0.9170  0.9179  0.9236  0.9159  NaN   -0.12%   -0.001199
11 2008-09-29  0.9181  0.9139  0.9245  0.9017  NaN    0.12%    0.001199
12 2008-09-30  0.8932  0.9173  0.9177  0.8889  NaN   -2.71%   -0.027496
13 2008-10-01  0.8891  0.8927  0.8972  0.8853  NaN   -0.46%   -0.004601
14 2008-10-02  0.8794  0.8884  0.8897  0.8759  NaN   -1.09%   -0.010970
15 2008-10-03  0.8855  0.8800  0.8913  0.8767  NaN    0.69%    0.006913
16 2008-10-06  0.8714  0.8790  0.8867  0.8702  NaN   -1.59%   -0.016051
17 2008-10-07  0.8779  0.8705  0.8802  0.8702  NaN    0.75%    0.007432
18 2008-10-08  0.8871  0.8794  0.8920  0.8737  NaN    1.05%    0.010425
19 2008-10-09  0.8855  0.8863  0.8906  0.8814  NaN   -0.18%   -0.001805
20 2008-10-10  0.8784  0.8859  0.8987  0.8761  NaN   -0.80%   -0.008050

In [22]:
segmented_data["COVID-19"]["Bitcoin"]

,Date,name,open,high,low,Price,volume,marketCap,timestamp,Log Return
0,2020-01-20,2781,8704.631814,8745.590797,8560.474043,8657.642939,2.642238e+10,1.573276e+11,2020-01-20T23:59:59.999Z,NaN
1,2020-01-21,2781,8658.991183,8755.706296,8544.520453,8745.894788,2.409742e+10,1.589480e+11,2020-01-21T23:59:59.999Z,0.010142
2,2020-01-22,2781,8744.210751,8792.993871,8636.747435,8680.876042,2.260020e+10,1.577833e+11,2020-01-22T23:59:59.999Z,-0.007462
3,2020-01-23,2781,8680.650560,8687.747088,8333.637874,8406.516068,2.577068e+10,1.528133e+11,2020-01-23T23:59:59.999Z,-0.032115
4,2020-01-24,2781,8405.567733,8514.667035,8266.840578,8445.434282,2.439791e+10,1.535368e+11,2020-01-24T23:59:59.999Z,0.004619
...,...,...,...,...,...,...,...,...,...,...
207,2020-08-14,2781,11772.659386,12150.993668,11685.455481,11768.870619,2.423796e+10,2.172651e+11,2020-08-14T23:59:59.999Z,-0.001296
208,2020-08-15,2781,11768.697144,11963.203065,11768.697144,11865.698570,2.335492e+10,2.190644e+11,2020-08-15T23:59:59.999Z,0.008194
209,2020-08-16,2781,11866.685580,11934.900915,11737.188599,11892.804063,2.058338e+10,2.195761e+11,2020-08-16T23:59:59.999Z,0.002282
210,2020-08-17,2781,11895.657774,12359.057022,11806.695882,12254.401908,2.822769e+10,2.262617e+11,2020-08-17T23:59:59.999Z,0.029952
211,2020-08-18,2781,12251.895970,12335.707070,11954.525749,11991.233246,2.604323e+10,2.214131e+11,2020-08-18T23:59:59.999Z,-0.021709

# MERGE TABLE + TÍNH OLS REGRESSION

In [23]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_bitcoin = log_returns_data['Full sample']['Bitcoin'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_bitcoin

,Date,name,open,high,low,Price,volume,marketCap,timestamp,Log Return,SP500_Log_Return
0,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009138
2,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,2781.0,11772.659386,12150.993668,11685.455481,11768.870619,2.423796e+10,2.172651e+11,2020-08-14T23:59:59.999Z,-0.001296,-0.000178
6800,2020-08-15,2781.0,11768.697144,11963.203065,11768.697144,11865.698570,2.335492e+10,2.190644e+11,2020-08-15T23:59:59.999Z,0.008194,NaN
6801,2020-08-16,2781.0,11866.685580,11934.900915,11737.188599,11892.804063,2.058338e+10,2.195761e+11,2020-08-16T23:59:59.999Z,0.002282,NaN
6802,2020-08-17,2781.0,11895.657774,12359.057022,11806.695882,12254.401908,2.822769e+10,2.262617e+11,2020-08-17T23:59:59.999Z,0.029952,NaN
6803,2020-08-18,2781.0,12251.895970,12335.707070,11954.525749,11991.233246,2.604323e+10,2.214131e+11,2020-08-18T23:59:59.999Z,-0.021709,0.002304

In [24]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_dollar = log_returns_data['Full sample']['Dollar'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_dollar

,Date,Price,Open,High,Low,Vol.,Change %,Log Return,SP500_Log_Return
0,2002-01-02,115.79,116.40,116.93,115.55,NaN,-0.82%,NaN,NaN
1,2002-01-03,116.11,115.88,116.33,115.54,NaN,0.28%,0.002760,0.009138
2,2002-01-04,116.33,116.07,116.53,115.97,NaN,0.19%,0.001893,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,93.10,93.22,93.41,93.01,NaN,-0.26%,-0.002467,-0.000178
6800,2020-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,2020-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,2020-08-17,92.85,93.10,93.12,92.77,NaN,-0.26%,NaN,NaN
6803,2020-08-18,92.27,92.82,92.82,92.13,NaN,-0.62%,-0.006266,0.002304

In [25]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_ether = log_returns_data['Full sample']['Ethereum'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_ether

,Date,name,open,high,low,Price,volume,marketCap,timestamp,Log Return,SP500_Log_Return
0,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009138
2,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,2781.0,393.108354,396.208097,392.163415,394.366740,1.401115e+10,4.423043e+10,2020-08-14T23:59:59.999Z,0.000000,-0.000178
6800,2020-08-15,2781.0,434.054795,437.676178,430.385536,432.871369,1.554830e+10,4.856074e+10,2020-08-15T23:59:59.999Z,0.093159,NaN
6801,2020-08-16,2781.0,433.350598,436.265829,415.086255,433.786610,1.216882e+10,4.867516e+10,2020-08-16T23:59:59.999Z,0.002112,NaN
6802,2020-08-17,2781.0,433.973761,442.734974,422.647281,429.531252,1.322709e+10,4.820343e+10,2020-08-17T23:59:59.999Z,-0.009858,NaN
6803,2020-08-18,2781.0,429.669620,432.580296,419.674107,423.669316,1.197898e+10,4.755141e+10,2020-08-18T23:59:59.999Z,-0.013741,0.002304

In [26]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_franc = log_returns_data['Full sample']['Franc'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_franc

,Date,Price,Open,High,Low,Vol.,Change %,Log Return,SP500_Log_Return
0,2002-01-02,0.6082,0.6081,0.6082,0.6081,NaN,0.95%,NaN,NaN
1,2002-01-03,0.6061,0.6060,0.6061,0.6060,NaN,-0.35%,-0.003459,0.009138
2,2002-01-04,0.6054,0.6053,0.6054,0.6053,NaN,-0.12%,-0.001156,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,1.1000,1.0984,1.1006,1.0960,33.74K,0.10%,0.001001,-0.000178
6800,2020-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,2020-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,2020-08-17,1.1028,1.0992,1.1049,1.0989,31.12K,0.25%,NaN,NaN
6803,2020-08-18,1.1063,1.1028,1.1099,1.1027,33.40K,0.32%,0.003169,0.002304

In [27]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_gold = log_returns_data['Full sample']['Gold'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_gold

,Date,Price,Open,High,Low,Vol.,Change %,Log Return,SP500_Log_Return
0,2002-01-02,278.85,278.85,278.85,278.85,NaN,-0.04%,NaN,NaN
1,2002-01-03,278.45,278.85,278.45,278.45,NaN,-0.14%,-0.001435,0.009138
2,2002-01-04,278.95,278.55,278.95,278.95,NaN,0.18%,0.001794,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,1944.29,1953.98,1962.62,1932.46,NaN,-0.50%,-0.004982,-0.000178
6800,2020-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,2020-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,2020-08-17,1986.20,1946.22,1990.91,1929.74,NaN,2.16%,NaN,NaN
6803,2020-08-18,2001.20,1985.47,2015.23,1977.56,NaN,0.76%,0.007524,0.002304

In [28]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_imus = log_returns_data['Full sample']['IMUS'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_imus

,Date,Price,Open,High,Low,Vol.,Change %,Log Return,SP500_Log_Return
0,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009138
2,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,6811.75,6821.52,6824.27,6790.12,NaN,-0.14%,-0.001433,-0.000178
6800,2020-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,2020-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,2020-08-17,6867.14,6811.75,6874.37,6811.75,NaN,0.81%,NaN,NaN
6803,2020-08-18,6887.03,6867.14,6897.60,6837.93,NaN,0.29%,0.002892,0.002304

In [29]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_sp500 = log_returns_data['Full sample']['SP500'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_sp500

,Date,Price,Open,High,Low,Vol.,Change %,Log Return,SP500_Log_Return
0,2002-01-02,1154.7,1149.0,1154.7,1136.2,NaN,0.57%,NaN,NaN
1,2002-01-03,1165.3,1155.5,1165.3,1154.0,NaN,0.92%,0.009138,0.009138
2,2002-01-04,1172.5,1171.1,1176.5,1163.4,NaN,0.62%,0.006160,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,3372.8,3368.7,3378.5,3361.6,NaN,-0.02%,-0.000178,-0.000178
6800,2020-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,2020-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,2020-08-17,3382.0,3380.9,3387.6,3379.2,NaN,0.27%,NaN,NaN
6803,2020-08-18,3389.8,3387.0,3395.1,3370.2,NaN,0.23%,0.002304,0.002304

In [30]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_silver = log_returns_data['Full sample']['Silver'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_silver

,Date,Price,Open,High,Low,Vol.,Change %,Log Return,SP500_Log_Return
0,2002-01-02,4.58,4.6000,4.5800,4.5700,NaN,-0.87%,NaN,NaN
1,2002-01-03,4.65,4.5600,4.6500,4.6400,NaN,1.53%,0.015168,0.009138
2,2002-01-04,4.70,4.6400,4.7000,4.6900,NaN,1.08%,0.010695,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,26.41,27.5230,27.7240,25.7483,NaN,-4.16%,-0.042441,-0.000178
6800,2020-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,2020-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,2020-08-17,27.40,26.6418,27.5712,25.8305,NaN,3.75%,NaN,NaN
6803,2020-08-18,27.65,27.4550,28.4600,27.1211,NaN,0.91%,0.009083,0.002304

In [31]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_tbond = log_returns_data['Full sample']['Tbond'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_tbond

,Date,Price,Open,High,Low,Change %,Log Return,SP500_Log_Return
0,2002-01-02,5.160,5.160,5.160,5.160,2.60%,NaN,NaN
1,2002-01-03,5.111,5.111,5.111,5.111,-0.95%,-0.009541,0.009138
2,2002-01-04,5.125,5.125,5.125,5.125,0.27%,0.002735,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
6799,2020-08-14,0.709,0.717,0.722,0.690,-1.13%,-0.011220,-0.000178
6800,2020-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,2020-08-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6802,2020-08-17,0.692,0.713,0.714,0.667,-2.52%,NaN,NaN
6803,2020-08-18,0.670,0.682,0.688,0.657,-3.05%,-0.032308,0.002304

In [32]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_tether = log_returns_data['Full sample']['Tether'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_tether

,Date,name,open,high,low,Price,volume,marketCap,timestamp,Log Return,SP500_Log_Return
0,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009138
2,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,2781.0,1.021125,1.025900,0.991814,1.001024,3.841775e+10,1.000846e+10,2020-08-14T23:59:59.999Z,-0.018985,-0.000178
6800,2020-08-15,2781.0,1.001003,1.010070,0.998149,1.001032,3.868112e+10,1.000854e+10,2020-08-15T23:59:59.999Z,0.000008,NaN
6801,2020-08-16,2781.0,1.001093,1.008545,0.997908,1.001881,3.560332e+10,1.001703e+10,2020-08-16T23:59:59.999Z,0.000847,NaN
6802,2020-08-17,2781.0,1.001907,1.016629,0.996617,1.000111,4.304721e+10,9.999327e+09,2020-08-17T23:59:59.999Z,-0.001768,NaN
6803,2020-08-18,2781.0,1.000096,1.009476,0.997239,1.002720,4.087317e+10,1.002542e+10,2020-08-18T23:59:59.999Z,0.002606,0.002304

In [33]:
import pandas as pd

# Rename the 'Log Return' column in SP500 data to a unique name before merging
sp500_log_return = log_returns_data['Full sample']['SP500'][['Date', 'Log Return']].rename(columns={'Log Return': 'SP500_Log_Return'})

# Merge with the Bitcoin data (or any other asset) based on 'Date'
merged_data_wti = log_returns_data['Full sample']['WTI'].merge(sp500_log_return, on='Date', how='left')

# Display the result
merged_data_wti

,Date,Price,Open,High,Low,Vol.,Change %,Log Return,SP500_Log_Return
0,2002-01-02,20.06,19.91,21.06,19.73,NaN,1.11%,NaN,NaN
1,2002-01-03,20.77,21.16,21.36,19.84,NaN,3.54%,0.034782,0.009138
2,2002-01-04,21.18,20.64,21.93,20.63,NaN,1.97%,0.019548,0.006160
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,23.76,23.73,23.78,23.45,NaN,0.04%,0.000421,-0.000178
6800,2020-08-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6801,2020-08-16,24.12,24.05,24.17,24.00,NaN,1.52%,NaN,NaN
6802,2020-08-17,24.50,24.12,24.57,23.95,NaN,1.58%,0.015632,NaN
6803,2020-08-18,24.59,24.48,24.70,24.27,NaN,0.37%,0.003667,0.002304

In [34]:
df

,Date,name,open,high,low,Price,volume,marketCap,timestamp,Log Return
0,2020-01-20,2781,0.998641,1.006623,0.995383,1.000688,3.307989e+10,4.640396e+09,2020-01-20T23:59:59.999Z,NaN
1,2020-01-21,2781,1.000513,1.005882,0.995219,1.001418,3.108089e+10,4.648952e+09,2020-01-21T23:59:59.999Z,0.000730
2,2020-01-22,2781,1.001464,1.003516,0.997179,1.000595,2.974925e+10,4.645129e+09,2020-01-22T23:59:59.999Z,-0.000823
3,2020-01-23,2781,1.000722,1.005093,0.996345,0.998409,3.363146e+10,4.634980e+09,2020-01-23T23:59:59.999Z,-0.002187
4,2020-01-24,2781,0.999104,1.005414,0.992917,1.002970,3.335611e+10,4.656156e+09,2020-01-24T23:59:59.999Z,0.004558
...,...,...,...,...,...,...,...,...,...,...
207,2020-08-14,2781,1.021125,1.025900,0.991814,1.001024,3.841775e+10,1.000846e+10,2020-08-14T23:59:59.999Z,-0.018985
208,2020-08-15,2781,1.001003,1.010070,0.998149,1.001032,3.868112e+10,1.000854e+10,2020-08-15T23:59:59.999Z,0.000008
209,2020-08-16,2781,1.001093,1.008545,0.997908,1.001881,3.560332e+10,1.001703e+10,2020-08-16T23:59:59.999Z,0.000847
210,2020-08-17,2781,1.001907,1.016629,0.996617,1.000111,4.304721e+10,9.999327e+09,2020-08-17T23:59:59.999Z,-0.001768
211,2020-08-18,2781,1.000096,1.009476,0.997239,1.002720,4.087317e+10,1.002542e+10,2020-08-18T23:59:59.999Z,0.002606

In [35]:
merge_table={
    "merge_bitcoin": merged_data_bitcoin,
    "merge_gold": merged_data_gold,
    "merge_silver": merged_data_silver,
    "merge_tbond": merged_data_tbond,
    "merge_dollar": merged_data_dollar,
    "merge_imus": merged_data_imus,
    "merge_wti": merged_data_wti,
    "merge_CHF": merged_data_franc,
    "merge_ether": merged_data_ether,
    "merge_tether": merged_data_tether
    
}

In [36]:
# Define the date ranges for the GFC and COVID-19 crisis periods
gfc_start, gfc_end = '2008-09-12', '2008-10-10'
covid_start, covid_end = '2020-01-20', '2020-08-18'

# List of asset tables you want to modify
assets_to_modify = {
    "bitcoin": merged_data_bitcoin,
    "gold": merged_data_gold,
    "silver": merged_data_silver,
    "tbond": merged_data_tbond,
    "dollar": merged_data_dollar,
    "imus": merged_data_imus,
    "wti": merged_data_wti,
    "franc": merged_data_franc,
    "ether": merged_data_ether,
    "tether": merged_data_tether
}

# Add GFC and COVID columns to each asset table
for asset_name, df in assets_to_modify.items():
    # Initialize GFC and COVID columns with 0s
    df['GFC'] = 0
    df['COVID'] = 0
    
    # Set GFC to 1 for dates in the GFC period
    df.loc[(df['Date'] >= gfc_start) & (df['Date'] <= gfc_end), 'GFC'] = 1
    
    # Set COVID to 1 for dates in the COVID period
    df.loc[(df['Date'] >= covid_start) & (df['Date'] <= covid_end), 'COVID'] = 1

# Display one of the modified tables to verify the new columns
merged_data_bitcoin

,Date,name,open,high,low,Price,volume,marketCap,timestamp,Log Return,SP500_Log_Return,GFC,COVID
0,2002-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
1,2002-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.009138,0,0
2,2002-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.006160,0,0
3,2002-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
4,2002-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6799,2020-08-14,2781.0,11772.659386,12150.993668,11685.455481,11768.870619,2.423796e+10,2.172651e+11,2020-08-14T23:59:59.999Z,-0.001296,-0.000178,0,1
6800,2020-08-15,2781.0,11768.697144,11963.203065,11768.697144,11865.698570,2.335492e+10,2.190644e+11,2020-08-15T23:59:59.999Z,0.008194,NaN,0,1
6801,2020-08-16,2781.0,11866.685580,11934.900915,11737.188599,11892.804063,2.058338e+10,2.195761e+11,2020-08-16T23:59:59.999Z,0.002282,NaN,0,1
6802,2020-08-17,2781.0,11895.657774,12359.057022,11806.695882,12254.401908,2.822769e+10,2.262617e+11,2020-08-17T23:59:59.999Z,0.029952,NaN,0,1
6803,2020-08-18,2781.0,12251.895970,12335.707070,11954.525749,11991.233246,2.604323e+10,2.214131e+11,2020-08-18T23:59:59.999Z,-0.021709,0.002304,0,1

In [37]:
import pandas as pd
import statsmodels.api as sm

# Define the regression function to use S&P 500 log returns and crisis dummies
def run_regression_with_dummies(data, asset_name):
    """
    Run OLS regression for a given asset with crisis dummies.
    """
    # Ensure required columns are present
    if 'Log Return' not in data.columns or 'SP500_Log_Return' not in data.columns:
        print(f"Missing data for {asset_name}. Skipping regression.")
        return None

    # Define dependent and independent variables
    y = data['Log Return']  # Asset log return
    X = data[['SP500_Log_Return', 'GFC', 'COVID']]  # S&P 500 log return and crisis dummies
    X = sm.add_constant(X)  # Add intercept

    # Run the OLS regression
    model = sm.OLS(y, X, missing='drop').fit()
    return model

# Prepare results storage
regression_results = []

# Run the regression for each asset
for asset_name, df in assets_to_modify.items():  # Use 'Full sample' period data
    if asset_name != "SP500":
        print(f"Running regression for {asset_name}...")
        model = run_regression_with_dummies(df, asset_name)
        if model:
            coefficients = model.params
            p_values = model.pvalues
            
            # Store results in a dictionary
            regression_results.append({
                'Variable': asset_name,
                'Hedge (c0)': f"{coefficients['SP500_Log_Return']:.4f}" + ("*" if p_values['SP500_Log_Return'] < 0.05 else ""),
                'GFC dummy (c1)': f"{coefficients['GFC']:.4f}" + ("*" if p_values['GFC'] < 0.05 else ""),
                'COVID-19 dummy (c2)': f"{coefficients['COVID']:.4f}" + ("*" if p_values['COVID'] < 0.05 else "")
            })

# Convert to DataFrame for tabular display
results_df = pd.DataFrame(regression_results)

# Display final results similar to Table 4

Running regression for bitcoin...
Running regression for gold...
Running regression for silver...
Running regression for tbond...
Running regression for dollar...
Running regression for imus...
Running regression for wti...
Running regression for franc...
Running regression for ether...
Running regression for tether...

In [38]:
results_df

  Variable Hedge (c0) GFC dummy (c1) COVID-19 dummy (c2)
0  bitcoin    0.5131*         0.0000             -0.0003
1     gold     0.0036         0.0003              0.0005
2   silver    0.2117*        -0.0050              0.0011
3    tbond    0.8950*        0.0217*            -0.0056*
4   dollar   -0.0394*         0.0017              0.0001
5     imus    1.0104*         0.0000             0.0004*
6      wti    0.5831*        -0.0065             -0.0042
7    franc   -0.0335*        -0.0022              0.0002
8    ether    0.8876*         0.0000              0.0008
9   tether   -0.0731*         0.0000              0.0004

In [39]:
import pandas as pd
from arch import arch_model

def run_garch_with_dummies(data, asset_name):
    """
    Run GJR-GARCH (1,1) regression with dummy variables for crisis periods.
    """
    if 'Log Return' not in data.columns or 'SP500_Log_Return' not in data.columns:
        print(f"Missing data for {asset_name}. Skipping GARCH regression.")
        return None

    # Clean data: Drop rows with NaN or inf in relevant columns
    data_clean = data[['Log Return', 'SP500_Log_Return', 'GFC', 'COVID']].replace([np.inf, -np.inf], np.nan).dropna()
    
    # Dependent variable (asset's log return)
    y = data_clean['Log Return']

    # Independent variables including dummies
    X = data_clean[['SP500_Log_Return', 'GFC', 'COVID']]
    
    # Initialize GARCH model with Student's t error distribution
    model = arch_model(y, vol='Garch', p=1, q=1, mean='ARX', lags=0, dist='t', x=X)
    
    # Fit the model with MLE
    fitted_model = model.fit(disp="off")
    
    return fitted_model

# Run GARCH model for each asset with dummy variables
garch_results = {}
for asset_name, df in assets_to_modify.items():
    if asset_name != "SP500":
        print(f"Running GARCH regression for {asset_name}...")
        model = run_garch_with_dummies(df, asset_name)
        if model:
            garch_results[asset_name] = model

# Display summary for each asset's GARCH model
for asset_name, model in garch_results.items():
    print(f"\nGARCH Regression Results for {asset_name}:")
    print(model.summary())

Running GARCH regression for bitcoin...
Running GARCH regression for gold...

c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.003539. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 10 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.0001231. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:768: ConvergenceWarning: The optimizer returned code 9. The message is:
Iteration limit reached
See scipy.optimize.fmin_slsqp for code meaning.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.000376. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.0005245. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(

Running GARCH regression for silver...
Running GARCH regression for tbond...

c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:768: ConvergenceWarning: The optimizer returned code 8. The message is:
Positive directional derivative for linesearch
See scipy.optimize.fmin_slsqp for code meaning.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 2.47e-05. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:768: ConvergenceWarning: The optimizer returned code 4. The message is:
Inequality constraints incompatible
See scipy.optimize.fmin_slsqp for code meaning.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 2.45e-06. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 1000 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:768: ConvergenceWarning: The optimizer returned code 4. The message is:
Inequality constraints incompatible
See scipy.optimize.fmin_slsqp for code meaning.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.0005486. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 4.853e-05. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(

Running GARCH regression for dollar...
Running GARCH regression for imus...
Running GARCH regression for wti...
Running GARCH regression for franc...
Running GARCH regression for ether...

c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 0.004318. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 10 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:768: ConvergenceWarning: The optimizer returned code 9. The message is:
Iteration limit reached
See scipy.optimize.fmin_slsqp for code meaning.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:309: DataScaleWarning: y is poorly scaled, which may affect convergence of the optimizer when
estimating the model parameters. The scale of y is 3.29e-05. Parameter
estimation work better when this value is between 1 and 1000. The recommended
rescaling is 100 * y.

This warning can be disabled by either rescaling y before initializing the
model or by setting rescale=False.

  warnings.warn(
c:\Users\Legion\Documents\PythonStatsProject\PythonStatsProject\.venv\Lib\site-packages\arch\univariate\base.py:768: ConvergenceWarning: The optimizer returned code 4. The message is:
Inequality constraints incompatible
See scipy.optimize.fmin_slsqp for code meaning.

  warnings.warn(

Running GARCH regression for tether...

GARCH Regression Results for bitcoin:

LinAlgError: Singular matrix

In [40]:
import pandas as pd
from arch import arch_model

def run_garch_with_dummies(data, asset_name):
    """
    Run GJR-GARCH (1,1) regression with dummy variables for crisis periods.
    """
    if 'Log Return' not in data.columns or 'SP500_Log_Return' not in data.columns:
        print(f"Missing data for {asset_name}. Skipping GARCH regression.")
        return None

    # Dependent variable
    y = data['Log Return']  # Asset log return

    # Independent variables including dummies
    X = data[['SP500_Log_Return', 'GFC', 'COVID']]
    
    # Initialize GARCH model with Student's t error distribution
    model = arch_model(y, vol='Garch', p=1, q=1, mean='ARX', lags=0, dist='t', x=X)
    
    # Fit the model with MLE
    fitted_model = model.fit(disp="off")
    
    return fitted_model

# Run GARCH model for each asset with dummy variables
garch_results = {}
for asset_name, df in assets_to_modify.items():
    if asset_name != "SP500":
        print(f"Running GARCH regression for {asset_name}...")
        model = run_garch_with_dummies(df, asset_name)
        if model:
            garch_results[asset_name] = model

# Display summary for each asset's GARCH model
for asset_name, model in garch_results.items():
    print(f"\nGARCH Regression Results for {asset_name}:")
    print(model.summary())

Running GARCH regression for bitcoin...

ValueError: NaN or inf values found in y. y must contains only finite values.